/* HEADER STYLE */

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif ;
  }

#barra {
    background-color: #255ee9;
    display: flex;
    justify-content: center;
    height: 80px;
    
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%; 
    gap: 10px; 
} 

#barra .menu > div {
    padding: 10px;
    color: white;
}

.logo{
    flex-grow: 1;
    text-align: left;
}

.link {
    display: flex;
    flex-grow: 2;
    text-align: center;
    justify-content: space-around;
}

.login{
    flex-grow: 1;
    text-align: right;
}

/* STILI BOTTONI */
.btn{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-weight: bold;
}

.btn.dark{
    background-color: #23272a;
    color: white;
    
}

.buttons > .btn{
    border-radius: 50px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    font-weight: bold;
    gap: 10px;
    margin-right: 20px;
}

.purple{
    background-color: #7288da;
    color: white;
    border-radius: 50px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    font-weight: bold;
    gap: 10px;
    margin-right: 20px;
}

.info > div:nth-child(2){
    background-color: #7288da ;
    color: white;
}


.download {
    margin-top: 30px;
}


/* BODY STYLE */
.posizione{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0px;
    
}

.banner{
    background-image: url("../img/jumbo.png");
    background-size: contain; /* Mostra tutta l'immagine senza tagliarla */
    background-repeat: no-repeat;
    height: 100vh; /* Occupa tutta l'altezza dello schermo */
    display: flex;
    
    justify-content: center;
    text-align: center;
    color: white;
}

.banner-content {
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 20px; 
    
}

h1{
    font-size: 3.5em; /* Modifica la dimensione del testo a 4 volte quella di base */
    font-weight: bold; 
    margin: 0;
    margin-bottom: 50px;
}

p{
    font-size: 1.5em;
    margin-bottom: 50px;
}


/* STILE BOX ENORME */
.blocco{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 30%);
    height: 1100px;              /* ALTEZZA */
    text-align: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;

}


.blocco img {
    width: 100%;
    height: auto;
    display: block;
}




.star{
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.due-blocchi{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: calc(100% - 30%);
    height: 500px;
}


.due-blocchi.reverse {
    flex-direction: row-reverse; 
}


/* STILI PER I BOX A DUE BLOCCHI */
.box{

    height: 500px;
}

.small{
    margin-top: 40px;
    flex-grow: 1 ;
}

.big{
    background-color: #1e90ff;
    flex-grow: 1.5 ;
}


/* STILI PER IL BACKGROUND */

.bg-blue {
    background-color: #00008b;
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #d3d3d3;
}

.bg-black {
    background-color: #23272a;
}




/* FOOTER */

/* stile tabella a colonna */
.colonna{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: calc(100% - 30%);
    
}

.tabella{
    height: 580px;
    border: 1px dashed #000;
}

.sx {
    background-color: #f08080;
    flex-grow: 1 ;
}

.dx{
    background-color: #20b2aa;
    flex-grow: 3 ;
    display: flex;
}

.dx > div {
    flex-grow: 1;
    border: 1px dashed #ffffff;
}



   
    



    /* BARRA FINALE IN BASSO DI REGISTRAZIONE */
#fine {
    background-color: #23272a; 
     display: flex;
     justify-content: center;
     height: 110px;
     margin-top: 0px;
     align-items: flex-end;
}

.info{
    background-color: #23272a; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%; 
    height: 70px;
    border-top: 1px solid #7288da;
    
}

.logo1{
    background-color:  #d3d3d3; 
    width:  auto;
    text-align: left;
    padding: 0px 5px 0px 5px;
    background-color: none;
    
}

.bottone {
    background-color: #ffb6c1; 
    border: 1px dashed #000;
    width: 10px;
    text-align: right;
    width: auto;
    padding: 0px 5px 0px 5px;
    
}



/* .tabellla.dx > div{

}

strong{
    color: #7288da;
}

ul{
    list-style: none;
    line-height:50px;
}

li{
    color: white;
} */
   
   